<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="/styles.css">
    
	<title>D&D Class Finder</title>
</head>

<body class="border">
	<h1><img src="/dice.png" width="50"> Welcome to the D&D Class Crash Course!</h1>

    <img src="/dndlogo.png" width="200">

    <div>To review an existing class or one of your homebrew classes, select <a href="/review">Review Class</a>!<br></div>

    <h2>Existing Classes</h2>

    <ul>
        <li>Barbarian</li>
        <li>Bard</li>
        <li>Cleric</li>
        <li>Druid</li>
        <li>Fighter</li>
        <li>Monk</li>
        <li>Paladin</li>
        <li>Ranger</li>
        <li>Rogue</li>
        <li>Sorcerer</li>
        <li>Warlock</li>
        <li>Wizard</li>
        
    </ul>


    <h2>Homebrew Classes</h2>

    <ul>
        <li>To create your own custom homebrew class, select <a href="/apply">Create Homebrew Class</a>!</li>
        <li>To remove all custom homebrew classes, select <a href="/remove">Remove All Homebrew Classes</a>.<br></li>
    </ul>

    <hr>
</body>

</html>
