<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/styles.css">
	<title>Confirm Removal</title>
</head>

<body class="border">
	<h1><img src="/dice.png" width="50"> Removal of All Homebrew Classes</h1>
	<div>
		All homebrew classes have been removed from the database. Number of classes removed: <%- deletedCount %>
	</div>
    <br>
    <a href="/">HOME</a>
</body>

</html>
